/* ----- RESETANDO CONFIGURAÇÕES ----- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #FFE899;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* ----- ESTILIZANDO O CABEÇALHO ----- */
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2px;
    margin-bottom: 10px;
}

.cabecalho p{
    font-size: 5em;
    text-align: center;
    text-decoration-style: solid;
    margin-left: 20px;
    max-width: 50%;
}


.cabecalho img{
    height: 13rem;
}

.categoria img{
    height: 13em;
    width: 26em;
    margin-top: 5px;
    margin-bottom: 2px;
}

.menuRestaurantes{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.menuRestaurantes .restaurante{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 6px;
}

.menuRestaurantes .restaurante a{
    padding:  5px;
    color: #ffffff;
    border-radius: 5px;
    background-color: blue;
    margin-left: 2px;
}

.menuRestaurantes .restaurante img{
    max-height: 10px;
    max-width: 100px;
}

.navegacao{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.navegacao a{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #00aa41;
    text-align: center;
    color: #ffffff;
}
